$main-font-color: #ffffff;


.main {
    background-color: transparent;

}

.calendar-weekdays-list {
    list-style: none;
}

.calendar-dates {
    list-style: none;
    // color: $main-font-color;
}